* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Heebo", sans-serif;
    font-weight: 500;
}

body,
html {
    min-height: 100vh;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Nunito", sans-serif;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.padding {
    padding: 15px 8%;
}
.padding2{
    padding: 15px 13%;

}
/* nav_heder_section */
.heder_section {
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../img/bg-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.navbar {
    position: absolute;
    width: 100%;
    background-color: transparent;
    z-index: 9999;
}

.web_logo {
    color: #FEA116 !important;
    font-size: calc(1.375rem + 1.2vw);
    font-weight: 800;
}

.navlink li a {
    font-size: 18px;
    font-weight: 400;
}

.nav-link {
    color: white;
    transition: all 0.75s;
}

.nav-link_click {
    color: #FEA116;
}

.nav-link:hover {
    color: #FEA116;
}

.buttons {
    background-color: #FEA116;
    border-color: #FEA116;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
    color: white;

}

.buttons:hover {
    background-color: #FEA116;
    border-color: #FEA116;

}

.ikan span i {
    color: white;
    font-size: 30px;
}

.conten_heder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: white;
    padding-block: 9%;
}

.conten_img {
    position: absolute;
}

.conten_img h1 {
    font-size: 3.5vw;
    font-weight: 800;
    line-height: 1;
}

.conten_img p {
    font-size: 1vw;
    font-weight: 400;
    max-width: 47%;
    margin-top: 3%;
    color: #f3f4f4;
    opacity: 0.9;
}

.conten_button {
    margin-top: 3%;
    background-color: #FEA116;
    border: none;
    color: white;
    font-size: 20px;
    padding: 1.4% 6%;
    border-radius: 4px;
}

.heder_img {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    transition: all 0.75s;
}

.heder_img img {
    max-width: 43%;
    animation: rotate 50s linear infinite;
    rotate: 00deg;
}
















/* --------- media kaveri and animation */
@keyframes rotate {
    0% {
        rotate: 0deg;
    }


    50% {
        rotate: 180deg;

    }


    100% {
        rotate: 360deg;

    }
}

@media(max-width:1250px) {
    .padding {
        padding: 15px 4%;
    }

    .navlink li a {
        font-size: 16px;
    }
}


@media(max-width:1150px) {

    .navlink li a,
    .buttons {
        font-size: 16px;
    }
}

@media(max-width:991px) {
    .navbar-nav {
        background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../img/bg-hero.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

    }
}